version: "3"
services:
  # db:
  #   image: postgres
  #   ports:
  #     - "5432:5432"
  #   environment:
  #     POSTGRES_PASSWORD: secret
  web:
    build: .
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    env_file: docker-compose.env
    command: python manage.py runserver 0.0.0.0:8000
    # depends_on:
    #   - db
